
.logo{
    position: absolute;
    left:20px;
    right: 20px;
    margin-top: 10px;
}

header{
    width: 1000px;
    height: 120px;
    margin: 0 auto;
    position: relative;
}

.main-nav{
    width: 1000px;
    height: 60px;
    margin: 0 auto;
    border-radius: 5px;
}

#tab1{
    width: 120px;
}
#tab2{
    width: 120px;
}
#tab3{
    width: 120px;
}
#tab4{
    width: 120px;
}
#tab5{
    text-align: left;
    width: 200px;
}

#tab6{
    width: 120px;
}
.main-nav ul li{
    list-style: none;
    line-height: 20px;
    position: relative;
    background: #222;
    box-shadow: 0px 2px 5px 0px gray;
    text-align: center;
    float: left;
    background: linear-gradient(#800000 20% , black 80% );
}

.main-nav ul li:nth-child(1){
    border-radius: 10px 0px 0px 10px;
}
.main-nav ul li:last-child{
    border-radius: 0px 10px 10px 0px;
}
/*Old Code Below*/
.main-nav-ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}
.nav-item {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
}

.nav-item:hover{
    font-weight: bold;
    border-bottom: 5px solid #DAA520;
}


a{
	text-decoration: none;
}





/* Background Settings */

body{

    /* The image used */
    background-image: url("prac5.jpg");

    /* Full height */
    height: 100%; 

    /*Backround Wont Move*/

    background-attachment: fixed;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

li{
    float: left;
}