body{
	margin:0 auto;
    background-color: grey;
	}

.main-nav-ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #800000;
    opacity: 0.7;
}

.cart-botton{
	color: white;
	border: 1px solid blue;
	border-style:double;
	background-color: #3333CC;
	border-radius: 5px;
	float:right;
}

li {
    float: left;
}

.nav-item {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-item:hover {
    background-color: #FF0000;
}

a{
	text-decoration: none;
}

#active{
	background-color:#DAA520;
	color: white;
}


/*-----------------------------------------------------------------------*/


.accBox{
    width: 700px;
    height: 700px;
    text-align: center;
    background-color: #800000;
    border-radius:10px; 
    margin: 0 auto;
    margin-top: 100px;

    /*border-style: solid;
    border-width: medium;
    border-color: white;*/
}

#usr_img img{
    margin-top: 60px;
    margin-bottom: 30px;
    margin-left:10px;
    margin-right:10px;
    height: 120px;
    width: 120px;
    border-style: solid;
    border-width: medium;
    border-color: white;
    border-radius: 50%; 
}

input{
    height: 20px;
    width: 400px;
    font-size: 15px ;
    margin-bottom: 30px;

}

.inputContainer label{
    font-size: 30px;
}


/*Button Config---------------------------------------------*/
.button{
    border-radius: 5px;
    display: inline-block;
    border:none;
    text-align: center;
    padding: 10px 15px;
    margin-bottom: 0;
    font-size: 15px;
    font-weight: normal;
    cursor: pointer;
}

.large_button{
    padding: 10px 50px;
    font-size: 18px;
    border-radius: 7px;
}

.button_success{
    color:black;
    background-color: #DAA520; 
    border-color: #D39b0e;
}

.button_success:active,
.button_success:hover,
.button_success:focus{
    color:white;
    font-weight: bold;
    background-color: #B8860B;
    border-color: #a37608;
}

/*Button Config End---------------------------------------*/
