body{
	/*height: 100%;
	background-image: url("back2.jpg");
	background-repeat: repeat;
	background-position: center;
	background-size: cover;*/
	background-color: gray;
	
}

/* this is it */

.container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 150px;
  height: 150px;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #DAA520; /*gold*/
  overflow: hidden;
  width: 150px;
  height:0;
  transition: .5s ease;
}

.container:hover .overlay {
  bottom: 0;
  height: 100%;
}

.text {
  white-space: nowrap; 
  color: black;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* this is it */

.food-container{
	display: inline-block;
	background-size: cover;
	width: 150px;
	height: 150px;
	margin: 0;
        padding: 0;
        box-sizing: border-box;
	border: 2px double black;
	overflow: hidden;
	
}

.food-img-top{
	height:100px;
	width:100%; 
	display: block;
}

.cart-botton{
	color: white;
	border: 1px solid blue;
	border-style:double;
	background-color: #3333CC;
	border-radius: 5px;
	float:right;
	
}

.button {
    position: absolute;
    bottom: 0;
    float: left;
    /*background-color: blue;*/
    border: none;
    color: green;
    padding: 2px 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.food-list{
	
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	
}

.catigory-list{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.catigory-item{
	display: block;
	margin: 8px;
        padding: 5px;
}




