.accPgCnt{
    width: 1000px;
    height: 1000px;
    margin: 0 auto;

}

/*-----------------------------------------------------------------------*/


.accBox{
    width:  700px;
    height: 700px;
    text-align: center;
    background-color: #cfb283;
    border-radius:10px; 
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;/*gives space at the bottom of page*/
    box-shadow: 0px 0px 5px 1px #888888;
}

#usr_img img{
    margin-top: 60px;
    margin-bottom: 30px;
    margin-left:10px;
    margin-right:10px;
    height: 120px;
    width: 120px;
    border-width: medium;
    border-radius: 50%; 
    background: white;
}

input{
    height: 30px;
    width: 400px;
    font-size: 15px ;
    margin-bottom: 30px;
    font-weight: bold;
    padding-left: 30px;

}



.inputContainer::before{
    content: "\f007" ;
    position: absolute;
    font-family: "FontAwesome";
    padding-left: 5px;
    padding-right: 5px;
    padding-top:10px;
    font-size: 20px;
}

.inputContainer:nth-child(2)::before{
    content: "\f0e0" ;
    position: absolute;
    font-family: "FontAwesome";
    padding-left: 5px;
    padding-right: 5px;
    padding-top:10px;
    font-size: 20px;
}

.inputContainer:nth-child(3)::before{
    content: "\f098" ;
    position: absolute;
    font-family: "FontAwesome";
    padding-left: 5px;
    padding-right: 5px;
    padding-top:10px;
    font-size: 20px;
}

.inputContainer:nth-child(4)::before{
    content: "\f023" ;
    position: absolute;
    font-family: "FontAwesome";
    padding-left: 5px;
    padding-right: 5px;
    padding-top:10px;
    font-size: 20px;
}


.inputContainer:nth-child(5)::before{
    content: "\f023" ;
    position: absolute;
    font-family: "FontAwesome";
    padding-left: 5px;
    padding-right: 5px;
    padding-top:10px;
    font-size: 20px;
}


/*Button Config---------------------------------------------*/
.button{
    border-radius: 5px;
    display: inline-block;
    border:none;
    text-align: center;
    padding: 10px 15px;
    margin-bottom: 0;
    font-size: 15px;
    font-weight: normal;
    cursor: pointer;
}

.large_button{
    padding: 10px 50px;
    font-size: 18px;
    border-radius: 7px;
}

.button_success{
    color:white;
    background-color: black; 
    border-color: #lelele;
}

.button_success:active,
.button_success:hover,
.button_success:focus{
    color:white;
    font-weight: bold;
    background-color: black;
    border-color: grey;
}

/*Button Config End---------------------------------------*/
.stat > img{
    margin-top: -57px; 
    margin-left: 220px;
    position: absolute;
    width: 20px;
    height: 20px;
}