body{
	
    background-color: grey;
	}

/*-----------------------------------------------------------------------*/


.accBox{
    width: 700px;
    height: 700px;
    text-align: center;
    background-color: #800000;
    border-radius:10px; 
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;/*gives space at the bottom of page*/
    /*border-style: solid;
    border-width: medium;
    border-color: white;*/
}

#usr_img img{
    margin-top: 60px;
    margin-bottom: 30px;
    margin-left:10px;
    margin-right:10px;
    height: 120px;
    width: 120px;
    border-style: solid;
    border-width: medium;
    border-color: white;
    border-radius: 50%; 
}

input{
    height: 30px;
    width: 400px;
    font-size: 15px ;
    margin-bottom: 30px;
    font-weight: bold;
    padding-left: 30px;

}



.inputContainer::before{
    content: "\f007" ;
    position: absolute;
    font-family: "FontAwesome";
    padding-left: 5px;
    padding-right: 5px;
    padding-top:10px;
    font-size: 20px;
}

.inputContainer:nth-child(2)::before{
    content: "\f0e0" ;
    position: absolute;
    font-family: "FontAwesome";
    padding-left: 5px;
    padding-right: 5px;
    padding-top:10px;
    font-size: 20px;
}

.inputContainer:nth-child(3)::before{
    content: "\f098" ;
    position: absolute;
    font-family: "FontAwesome";
    padding-left: 5px;
    padding-right: 5px;
    padding-top:10px;
    font-size: 20px;
}

.inputContainer:nth-child(4)::before{
    content: "\f023" ;
    position: absolute;
    font-family: "FontAwesome";
    padding-left: 5px;
    padding-right: 5px;
    padding-top:10px;
    font-size: 20px;
}


.inputContainer:nth-child(5)::before{
    content: "\f023" ;
    position: absolute;
    font-family: "FontAwesome";
    padding-left: 5px;
    padding-right: 5px;
    padding-top:10px;
    font-size: 20px;
}


/*Button Config---------------------------------------------*/
.button{
    border-radius: 5px;
    display: inline-block;
    border:none;
    text-align: center;
    padding: 10px 15px;
    margin-bottom: 0;
    font-size: 15px;
    font-weight: normal;
    cursor: pointer;
}

.large_button{
    padding: 10px 50px;
    font-size: 18px;
    border-radius: 7px;
}

.button_success{
    color:black;
    background-color: #DAA520; 
    border-color: #D39b0e;
}

.button_success:active,
.button_success:hover,
.button_success:focus{
    color:white;
    font-weight: bold;
    background-color: #B8860B;
    border-color: #a37608;
}

/*Button Config End---------------------------------------*/
